$windows-gray: #c3c3c3;
$windows-blue: #000082;
$windows-shadow: #828282;
$windows-highlight: #ffffff;

.window {
    position: relative;
    width: 488px;
    height: 279px;
    font-family: Arial;
    font-size: 12px;
    border: 2px $windows-gray outset;
    background-color: $windows-gray;

    button {
        background-color: $windows-gray;
        border-color: $windows-highlight $windows-shadow $windows-shadow $windows-highlight;
    }

    .titlebar {
        position: relative;
        background-color: $windows-blue;
        color: white;
        height: 14px;
        font-weight: bold;
        padding: 3px;
        max-width: calc(100% - 7px);

        .x-button {
            background-image: url(x-button.png);
            height: 14px;
            width: 16px;
            position: absolute;
            right: 2px;
            top: 3px;
        }
    }

    .welcome-to-windows {
        height: 37px;

        font-family: Times;
        font-size: 27px;
        margin-top: 10px;
        padding-left: 18px;
        font-weight: bold;
        vertical-align: baseline;

        .windows {
            font-family: "Arial";
            ._95 {
                color: white;
                font-family: "Franklin Gothic Book", Arial;
            }
        }
    }

    .yellow-box {
        position: relative;
        margin-left: 16px;
        border: 1px $windows-gray inset;
        max-width: calc(100% - 54px);
        height: 153px;
        width: 330px;
        background-image: url(yellow-bg.png);
        font-size: 12px;
        line-height: 12.8px;

        .lightbulb {
            position: absolute;
            left: 18px;
            top: 18px;
            background-image: url(lightbulb.png);
            width: 23px;
            height: 34px;
        }

        .text {
            position: absolute;
            left: 59px;
            top: 29px;
            width: 270px;

            .did-you-know {
                font-weight: bold;
            }

            .tip {
                margin-top: 1.5em;
            }
        }

    }

    .remember {
        position: absolute;
        bottom: 27px;
        left: 16px;
        font-size: 12px;
        line-height: 12.8px;
        white-space: nowrap;

        .checkbox {
            background-image: url(checkbox.png);
            width: 13px;
            height: 13px;
        }

        .message {
            position: absolute;
            left: 16px;
            top: 0px;

            .key {
                text-decoration: underline;
            }
        }
    }

    .buttons {
        position: absolute;
        top: 67px;
        right: 17px;
        width: 113px;
        line-height: 12.8px;

        button {
            font-size: 11px;
            width: 100%;
            margin-bottom: 5px;
            height: 23px;

            .key {
                text-decoration: underline;
            }
        }

        hr {
            width: 95%;
            margin-bottom: 13px;
        }

        .flex-space {
            height: 63px;
        }
    }

}
