<div class="window">
	<div class="titlebar">
		Welcome
		<button class="x" (click)="this.close()"></button>
	</div>

	<div class="welcome-to-windows">
		<span class="welcome">
			Welcome to <span class="windows">Windows<span class="_95">95</span></span>
		</span>
	</div>

	<div class="yellow-box">
		<div class="lightbulb"></div>

		<div class="text">

			<div class="did-you-know">
				Did you know...
			</div>

			<div class="tip" [innerHTML]="this.msg">
			</div>

		</div>
	</div>

	<div class="buttons">
		<button
			(click)="this.whatsNew()"
			>
			What's <span class="key">N</span>ew
		</button>
		<button
			(click)="this.onlineRegistration()"
			>
			<span class="key">O</span>nline Registration
		</button>
		<button
			(click)="this.nextTip()"
			>
			Next <span class="key">T</span>ip
		</button>
		<div class="flex-space"></div>
		<hr>
		<button
			(click)="this.close()"
			>
			Close
		</button>
	</div>

	<div class="remember">
		<div class="checkbox"></div>
		<div class="message">
			<span class="key">S</span>how this Welcome screen next time you start Windows
		</div>
	</div>

</div>
